<ion-view view-title="Home" cache-view="false">
  <ion-content class="padding" overflow-scroll="true">
    <ion-list>
      <ion-item ng-repeat="gif in giphys">
        <img height="200" class="gifs" ng-src="{{gif.images.original.url}}">

        <div class="socialButtons">
          <button class="button facebookShareButton ion-social-facebook" ng-click="Share(gif.images.original.url)"></button>
          <button class="button smsShareButton ion-android-textsms" ng-click="ShareSMS(gif.images.original.url)"></button>
          <button ng-class="{'buttonHidden': loggedin}" class="favoriteButton button icon ion-ios-heart"  ng-click="saveFavorite(gif.images.original.url)"></button>
        </div>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll
      on-infinite="loadMore()"
      distance="1%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
