<ion-view view-title="Home" cache-view="false">
  <ion-content class="padding" overflow-scroll="true">
    <ion-list>
      <ion-item ng-repeat="gif in giphys">
        <img height="200" ng-src="{{gif.images.original.url}}">
<!--         <iframe ng-src="{{gif.embed_url}}"></iframe> -->
        <div ng-class="{'buttonHidden': loggedin}">
          <button class="button icon ion-ios-heart"  ng-click="saveFavorite(gif.id, gif.images.original.url)"></button>
        </div>
        <button class="button facebookShareButton ion-social-facebook" ng-click="Share(gif.images.original.url)"></button>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
