<ion-view view-title="Login">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <input type="email" id="email" placeholder="Email">
      </label>
      <label class="item item-input">
        <input type="password" id="password" placeholder="Password">
      </label>
    </div>

    <div>
      <button class="button button-block button-calm signUp-button" ng-click="SignUp()">Sign Up</button>
    </div>

    <div class="login-button">
      <button class="button button-stable login-button" ng-click="Login()">Log In</button>
    </div>
    <div class="user-error">{{UserError}}</div>
  </ion-content>
</ion-view>
