<ion-view view-title="Favorites" cache-view="false">
  <ion-content class="padding" overflow-scroll="true">
    <ion-list>
      <h2 class="favorites-message">{{message}}</h2>
      <ion-item ng-repeat="favorite in favorites | filter: {UserId: user.UserId}">
        <div ng-model="favorites">
          <div id="{{favorite.UserId}}">
            <button class="button deleteFavoriteButton icon ion-close-circled" ng-click="deleteFavorite(favorite.FavoriteId, favorite.Url)"></button>
            <img id="{{favorite.FavoriteId}}" class="gifs" width="300" ng-src="{{favorite.Url}}">
          </div>
          <div class="socialButtons">
            <button class="button facebookShareButton ion-social-facebook" ng-click="ShareFacebook(favorite.Url)"></button>
            <button class="button smsShareButton ion-android-textsms" ng-click="ShareSMS(favorite.Url)"></button>
            <button class="button emailShareButton ion-ios-email" ng-click="ShareEmail(favorite.Url)"></button>
            <button class="button twitterShareButton ion-social-twitter" ng-click="ShareTwitter(favorite.Url)"></button>
        </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
