<ion-view view-title="Login">
  <ion-content>
    {{YouAreLoggedIn}}
    <div class="list" ng-class="{'buttonHidden': loggedout}">
      <label class="item item-input">
        <input type="email" id="email" placeholder="Email">
      </label>
      <label class="item item-input">
        <input type="password" id="password" placeholder="Password">
      </label>
    </div>

    <div>
      <button class="button button-block button-calm" ng-class="{'buttonHidden': loggedout}" ng-click="SignUp()">Sign Up</button>
    </div>

    <div>
      <button class="button button-stable" ng-class="{'buttonHidden': loggedout}" ng-click="Login()">Log In</button>
    </div>
  </ion-content>
</ion-view>
