<ion-view view-title="Favorites" cache-view="false">
  <ion-content class="padding" overflow-scroll="true">
    <ion-list>
      <ion-item ng-repeat="favorite in favorites | filter: {UserId: user.UserId}">
        <div ng-model="favorites">
          <div id="{{favorite.UserId}}">
          <button class="button deleteFavoriteButton icon ion-close-circled" ng-click="deleteFavorite(favorite.FavoriteId, favorite.Url)"></button>
          <img id="{{favorite.FavoriteId}}" class="gifs" height="200" ng-src="{{favorite.Url}}">
        </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
