/* Empty. Add your own CSS if you like */
.facebookShareButton {
  background-color: #4A65A0;
  color: white;
  font-size: 25px;
}
.buttonHidden {
  visibility: hidden;
}
.socialButtons {
  margin: 0 auto;
}
.gifs {
  display: block;
  margin: 0 auto;
}
.smsShareButton {
  background-color: #14B901;
  color: white;
  font-size: 25px;
}
.favoriteButton {
  color: white;
  background-color: red;
}
